# configurations for only developers
spring.datasource.url=jdbc:mariadb://localhost:3306/clinica_db
spring.datasource.username=
spring.datasource.password=

spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true

api.security.token.secret=
api.security.cookie.secure=false

# Separate origins with a comma if there is more than one frontend (e.g., http://localhost:4200,https://mysystem.com)
api.cors.allowed-origins=http://localhost:4200

api.security.crypto.key=